<h1>Editing pause</h1>

<% form_for(@pause) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :start_photo_id %><br />
    <%= f.text_field :start_photo_id %>
  </p>
  <p>
    <%= f.label :end_photo_id %><br />
    <%= f.text_field :end_photo_id %>
  </p>
  <p>
    <%= f.label :attendance_id %><br />
    <%= f.text_field :attendance_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pause %> |
<%= link_to 'Back', pauses_path %>