<h1>Listing pauses</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Start photo</th>
    <th>End photo</th>
    <th>Attendance</th>
  </tr>

<% @pauses.each do |pause| %>
  <tr>
    <td><%=h pause.start %></td>
    <td><%=h pause.end %></td>
    <td><%=h pause.start_photo_id %></td>
    <td><%=h pause.end_photo_id %></td>
    <td><%=h pause.attendance_id %></td>
    <td><%= link_to 'Show', pause %></td>
    <td><%= link_to 'Edit', edit_pause_path(pause) %></td>
    <td><%= link_to 'Destroy', pause, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pause', new_pause_path %>