<div id="list" class="current">
  <div class="toolbar">
  <h1><%= t('HAAD') %></h1>
  <%= link_to t("Back"), "#list", :class => "back" %>
</div>
<h2><%= t "Now working" %></h2>
<ul class="rounded">
  <% @users.each do |user| %>
    <li class="arrow">
      <a href="/users/show/<%= user.id %>">
        <%= user_small_picture(user) %>
        <%= user.display_name %>
      </a>
    </li>

  <% end %>
</ul>
